body {
    background-color: #0288D1;
}
.heading h1 {
    color: #212121;
    text-align: center;
}
.container {
    display: flex;
}
.mainBlock {
    display: grid;
    margin: 50px auto;
    grid-template-columns: repeat(15, 40px);
    box-shadow: 0 0 10px #212121;
    background-color: #8BC34A;
    
}
button {
    color: #212121;
    height: 40px;
    font-size: 24px;
}